.titulo{
    font-size: xx-large;
    font-family: fantasy;
    color: brown;
    text-align: center;
}

#container{
    background-color: rgb(34, 34, 34);
    height:1000px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}
.inicio{
    font-size: xx-large;
    color: antiquewhite;
}
.noticias{
    font-size: xx-large;
    color: blanchedalmond;
}